:root {
  --q-black: #1E1E1E;
  --q-dark-gray: #302525;
  --q-orange: #F1432F;
  --q-gray: #8B6E6E;
  --q-light-gray: #F1DAD4;
  --q-white: #FFE4DD;
  --box-shadow: 0 4px 4px rgba(var(--shadow-color), 0.25);
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-color: var(--q-white);
    --full-bleed-background-color: var(--q-dark-gray);
    --primary-background-color: var(--q-white);
    --section-background-color: var(--q-light-gray);
    --container-on-section-color: var(--q-white);
    --text-on-full-bleed-color: var(--q-white);
    --emphasis-color: var(--q-orange);
    --action-color: var(--q-orange);
    --text-on-action-color: var(--q-white);
    --primary-text-color: var(--q-black);
    --large-text-color: var(--q-dark-gray);
    --shadow-color: var(--q-black);
    --hover-color: var(--q-light-gray);
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  background: var(--page-background-color);
  font-family: var(--font-league-spartan), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

.display-text {
  font-size: 1.2rem;
}

p {
  color: var(--primary-text-color);
}

a {
  color: inherit;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
