.intro {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    margin-bottom: 1rem;

    .introDecor {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;

        img {
            height: auto;
            max-width: 50%;
            flex: 0 1 50%;
            border-radius: 50%;
        }

        .introDecorText {
            max-width: min-content;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            flex: 1 0 50%;
            gap: 0.5rem;

            p {
                display: none;
            }
        }
    }

    &>p {
        margin: 0 1.5rem 0 1.5rem;
    }
}

@media (min-width: 481px) {
    .intro {
        width: 100%;

        .introDecor {
            margin-right: 0;

            img {
                max-width: 16rem;
            }

            .introDecorText {
                max-width: 24rem;

                p {
                    display: block;
                }

                a {
                    margin-top: 0.5rem;
                }
            }
        }

        &>p {
            display: none;
        }
    }
}
