.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 0 1rem;

        img {
            height: auto;
            width: 60%;
            border-radius: 50%;
        }
    }

    p {
        margin: 0 1.5rem 0 1.5rem;
    }
}