.intro {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    margin-bottom: 1rem;

    .introDecor {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 0.5rem 0 0;

        img.horizImg {
            display: none;
        }

        .introDecorText {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            position: relative;

            gap: 0.5rem;

            h2 {
                text-align: center;
                margin: 0 1.2rem;
            }

            p {
                display: none;
            }

            img.vertImg {
                flex: 0 1 50%;
                border-radius: 50%;
                max-height: 12rem;
                width: auto;
                height: auto;
            }

            a {
                position: absolute;
                bottom: 0.9rem;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                width: max-content;
            }
        }
    }

    &>p {
        padding: 0 0.5rem;
        margin: 0 1.5rem 0 1.5rem;
    }
}

.disciplines {
    .dualPaneCarousel {
        display: none;
    }

    .staticCarouselContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        text-align: center;

        p {
            display: none;
        }
    }
}

@media (min-width: 321px) {
    .intro {
        margin-right: 0.5rem;

        .introDecor {
            img.horizImg {
                display: block;
                height: auto;
                max-width: 50%;
                flex: 0 1 50%;
                border-radius: 50%;
            }

            .introDecorText {
                max-width: min-content;
                align-items: start;
                flex: 1 1 50%;

                h2 {
                    text-align: start;
                    margin: 0;
                }

                img.vertImg {
                    display: none;
                }

                a {
                    position: static;
                    bottom: auto;
                    left: auto;
                    transform: none;
                    z-index: auto;
                }
            }
        }
    }
}

@media (min-width: 481px) {
    .intro {
        width: 100%;

        .introDecor {
            margin-right: 0;

            img.horizImg {
                max-width: 16rem;
            }

            .introDecorText {
                max-width: 24rem;

                p {
                    display: block;
                }

                a {
                    margin-top: 0.5rem;
                }
            }
        }

        &>p {
            display: none;
        }
    }

    .disciplines {
        .staticCarouselContent {

            display: inline-flex;
            width: max-content;

            h2 {
                width: auto;
            }

            p {
                display: block;
                width: 0;
                min-width: 100%;
            }
        }
    }
}

@media (min-width: 769px) {
    .disciplines {
        .singlePaneCarousel {
            display: none;
        }

        .dualPaneCarousel {
            display: block;
        }
    }
}
