.carouselDotsSelector {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: transparent;
    }
}

.selectorDot {
    color: var(--text-on-full-bleed-color);
    opacity: 0.8;
    width: 0.5rem;
    height: 0.5rem;

    pointer-events: none;
}

.dotSelected {
    opacity: 1;
    width: 0.6rem;
    height: 0.6rem;
}

.carouselDotsSelector {
    &.isHorizontal {
        gap: clamp(0.2rem, 3cqi, 0.8rem);
    }

    &.isVertical {
        gap: 0.2rem;
        button {
            min-height: min-content;
            min-width: min-content;
        }
    }
}

@media (min-width: 769px) {
    .selectorDot {
        pointer-events: all;

        &:hover {
            opacity: 1;
        }
    }
}