.carousel {
    width: 100%;
    height: 60vw;
    min-height: 18rem;

    h1, h2, p, a {
        color: var(--text-on-full-bleed-color);
    }

    h2 {
        text-align: center;
    }
}

.displayBox {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
    background-color: var(--full-bleed-background-color);
}

.displayImage {
    width: 100%;
    height: 100%;

    object-fit: cover;
    mask-image: linear-gradient(to top, black 0, transparent 100%);
}

.overlay {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    padding: 1.2rem;

    button {
        line-height: 1;
        width: 100%;
    }

    .staticContent, .itemContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .staticContent {
        margin-bottom: 1rem;
    }

    .itemContent {
        gap: 1rem;

        .itemTitle {
            text-align: center;
            mix-blend-mode: difference;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1rem;

    .primaryContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }
}

.buttonSelectors {
    height: 20%;
}

.verticalDotSelectors {
    display: none;
}

@media (min-width: 321px) {
    .carousel {
        height: 40vw;
    }
}

@media (min-width: 481px) {
    .verticalDotSelectors {
        display: block;
    }

    .horizontalDotSelectors {
        display: none;
    }
}