.carousel {
    width: 100%;
    height: min(56vh, 40vw);
    min-height: 18rem;

    h1, h2, p, a {
        color: var(--text-on-full-bleed-color);
    }
}

.displayBox {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
    background-color: var(--full-bleed-background-color);
}

.displayImage {
    width: 100%;
    height: 100%;

    object-fit: cover;
    mask-image: linear-gradient(to top, black 0, transparent 100%);
    filter: blur(0.5)
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .content {
        max-width: var(--max-content-width);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .staticContent {
        flex: 1;
        padding: 1.2rem;
        text-wrap: pretty;
    }

    .dynamicContent {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 1.2rem 1.2rem 1.2rem 0;
        gap: 1rem;

        .verticalNav {
            height: 100%;
            display: flex;
            flex-direction: column;

            .upArrow, .downArrow {
                flex: 1;
                display: flex;
                justify-content: center;
            }

            .upArrow {
                align-items: end;
            }

            .downArrow {
                align-items: start;
            }
        }

        .itemContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 0.4rem;

            .itemTitle {
                mix-blend-mode: hard-light;
                text-align: start;
            }

            .itemLink {
                font-size: 1.2rem;
                color: var(--text-on-full-bleed-color);
                text-align: start;
            }
        }
    }

    .primaryDisplayBoxContent {
        display: flex;
        flex: 1;

        button {
            line-height: 1;
        }
    }
}

.navArrowButton {
    background-color: transparent;
    height: 100%;
    padding: 0;

    .navArrowIcon {
        font-size: var(--min-touch-target-size);
    }
}

.buttonSelectors {
    height: 25%;
}
