.radialNav {
    position: fixed;

    bottom: 0;
    width: 100vw;
}

.menuButton {
    width: 3.75rem;
    height: 3.75rem;
    scale: 1;

    position: absolute;
    bottom: 1.5rem;
    justify-self: center;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    box-shadow: var(--default-box-shadow);

    transition:
        display 0.10s allow-discrete ease-in-out,
        scale 0.10s ease-in-out;

    @starting-style {
        scale: 0;
    }

    &.isOpen {
        display: none;
        scale: 0;
    }

    .menuIcon {
        font-size: 2.4rem;
    }
}

/* Container of all menu groups */
.menu {
    display: none;

    position: absolute;
    justify-self: center;
    --current-height: min(100vw, 20rem);
    bottom: calc(-.5 * var(--current-height) + 1.5rem);
    z-index: 99;

    width: 100%;
    max-width: 20rem;
    aspect-ratio: 1;
    scale: 0;

    background-color: var(--page-background-color);
    border-radius: 50%;
    box-shadow: var(--default-top-box-shadow);
    transition:
        display 0.15s allow-discrete ease-in-out,
        scale 0.15s ease-in-out;

    &.isOpen {
        display: block;
        scale: 1;

        @starting-style {
            scale: 0;
        }
    }
}

/* Actual group of pages to select within the menu */
.menuGroup {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 100;

    display: none;
    width: 90%;
    height: 90%;

    background-color: rgba(100, 0, 0, 0.5);

    &.isSelected {
        display: block;
    }
}

/* Group arrangements */
.main {

}

.me {

}

.myWork {

}
