:root {
  font-family: League Spartan, sans-serif;

  background-color: var(--q-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --q-black: #1E1E1E;
  --q-dark-gray: #302525;
  --q-orange: #F1432F;
  --q-gray: #8B6E6E;
  --q-light-gray: #F1DAD4;
  --q-white: #FFE4DD;
}

body {
  margin: 0;
}

h1 h2 h3 {
  color: var(--q-dark-gray);
}
