.primary {
    display: grid;
    /* Define exactly one row that depends on content */
    grid-template-rows: min-content;
    grid-template-areas: "stack";
    align-items: start;
    position: relative; /* Ensure absolute items stay inside here */

    & > div {
        grid-area: stack;
        width: 100%;
        min-height: 0; /* Force grid to ignore intrinsic height of child divs */
    }
}

.heroContainer,
.repeatedTextContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Stretch to the size of .headerContent */
}

.heroContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    z-index: 1;

    background-color: var(--full-bleed-background-color);

    img {
        height: 100%;
        width: auto;
        object-fit: cover;
        margin-left: 15%;
        user-select: none;

        mask-image: radial-gradient(circle at 55% 50%, white 0%, transparent 65%);
        animation: fade-in 0.4s linear forwards;
    }
}

.repeatedTextContainer {
    width: 200%;

    display: flex;
    justify-content: start;
    align-items: start;

    opacity: 10%;
    overflow: hidden;
    z-index: 2;

    p {
        height: 100%;
        min-width: 100%;

        display: block;
        margin: 0 0.3ch 0 0;

        word-break: break-all;
        color: var(--text-on-full-bleed-color);
        font-weight: 200;
        line-height: 1.1;
        user-select: none;

        animation: scroll-text 120s linear infinite;
    }
}

.headerContent {
    position: relative; /* Lets this div push the grid row open */

    width: 100%;
    height: auto;

    display: flex;
    align-items: end;
    z-index: 3;

    white-space: pre-wrap;
    padding: 0 0.5rem 0 0.5rem;
    margin-top: calc(6rem - 0.35cap);
    overflow-y: hidden; /* So shadow doesn't overflow */

    h1 {
        justify-self: start;
        margin: 0 0 -.35cap;
        filter: drop-shadow(0 4px 4px var(--q-black));
    }

    .extras {
        display: none;
    }
}

.subtitle p {
    padding: 0.5rem;
    font-weight: 600;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }
    100% {
        /* Moves half the total width (since content is duplicated once) */
        transform: translateX(-100%);
    }
}

@keyframes rise-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@media (min-width: 481px) {
    .heroContainer img {
        mask-image: radial-gradient(circle at 55% 50%, white 0%, transparent 75%);
    }

    .headerContent {
        justify-content: space-between;
        width: 100%;

        h1 {
            flex-basis: 74%;
        }

        .extras {
            display: flex;
            justify-content: end;
            align-items: end;
            flex-basis: 26%;
            margin-bottom: 0.5rem;

            img {
                object-fit: contain;
                height: 5.5rem;
                width: auto;
            }
        }
    }
}

@media (min-width: 769px) {
    .heroContainer {
        img {
            height: 100%;
            width: 100%;
            max-width: var(--max-interactive-width);

            mask-image: radial-gradient(circle at 55% 50%, white 0%, transparent 55%);
        }
    }

    .repeatedTextContainer p {
        font-size: 1.4rem;
    }

    .headerContent {
        margin-top: calc(5rem - 0.35cap);
        max-width: var(--max-interactive-width);
        justify-self: center;

        .extras {
            margin: 0 1.5rem 2rem 0;

            img {
                height: 8rem;
            }
        }
    }

    .subtitle {
        width: 100%;
        max-width: var(--max-interactive-width);
        justify-self: center;

        p {
            width: 100%;
            display: flex;
            justify-content: start;
        }
    }
}
