.header {
    display: block;
    width: 100%;

    .primary {
        display: grid;
        grid-template-areas: "stack";

        div {
            grid-area: stack;
            height: 30vh;
            max-height: 45vh;
            width: 100%;
        }
    }
}

.heroContainer {
    width: 100%;

    display: flex;
    justify-content: end;
    overflow: hidden;
    z-index: 1;

    background-color: var(--full-bleed-background-color);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        mask-image: radial-gradient(circle at 55% 50%, white 0%, transparent 65%);
        animation: fade-in 0.4s linear forwards;
    }
}

.repeatedTextContainer {
    width: 200%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: start;

    opacity: 10%;
    overflow: hidden;
    z-index: 2;

    p {
        height: 100%;
        min-width: 100%;

        display: block;
        margin: 0 0.3ch 0 0;

        word-break: break-all;
        color: var(--text-on-full-bleed-color);
        font-weight: 200;
        line-height: 1.1;

        animation: scroll-text 120s linear infinite;
    }
}

.headerContent {
    width: 100%;

    display: flex;
    align-items: end;
    z-index: 3;

    white-space: pre-wrap;
    padding: 5% 0.5rem 0 0.5rem;
    overflow: hidden; /* So shadow doesn't overflow */

    h1 {
        justify-self: start;
        margin: 0 0 -.35cap;
        filter: drop-shadow(0 4px 4px var(--q-black));
        animation: rise-up 0.2s ease-out;
    }

    .extras {
        display: none;
    }
}

.subtitle {
    padding: 0.5rem;
    font-weight: 600;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }
    100% {
        /* Moves half the total width (since content is duplicated once) */
        transform: translateX(-100%);
    }
}

@keyframes rise-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}
